HELP.md
.DS_Store

target/
build/
*.class

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/
.history/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/